	
	h2{
		text-decoration: underline;
		font-size: 30px;
		font-weight: bold; 
		letter-spacing:10px;
		font-family: 'Golden Varsity';
		color:#647B8C;
	}
		
	.n1{
		text-align: center;
		word-spacing: 10px;
		line-height: 25px;		
			
	}
		
	body{

		background-color:;#F2C6BD
	}

	p{

		
		    font-family: 'Golden Varsity Script';
		color:#D47090;



	}
